* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

/* Navigation section */

.navbar {
    background-color: #4CAF50;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 0;
    width: 100%;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style-type: none;

    gap: 50px;
    margin: 0 300px 0 0;
    padding: 0;
}

.navbar ul li a {
    text-decoration: none;

    color: white;
    font-weight: bold;
}

.navbar-logo a img {
    width: 70px;
    height: auto;
    margin-left: 150px;
}

/* --------- */

/* Header section */

.main-header-container {
    text-align: center;
    margin-top: 70px;
}

.top-header {
    color: #2F7D34;
}

.bottom-header {
    color: #666666;
}

.page-header {
    color: #2F7D34;
    margin-top: 40px;
}

/* --------- */

/* Footer section */

.footer-container {
    padding: 30px 0;

    background: black;
    color: white;
    text-align: center;

    position: fixed;
    bottom: 0;

    width: 100%;
}

.footer-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;

    list-style-type: none;

    padding: 0;
    margin: 0;

    gap: 30px;
}

.footer-navbar ul li img {
    width: 37px;
    height: auto;
}

.footer-copyright {
    color: rgb(133, 133, 133);
}

/* --------- */

/* The products shown */

.main-product-table {
    /* To make it centered */
    margin: 0 auto;

    border-collapse: collapse;
    padding-top: 40px;
}



/* --------- */